body {
  background-color: var(--mivet-background);
  color: var(--mivet-dark);
  font-family: "Segoe UI", sans-serif;
}

.pet-card {
  border-radius: 16px;
  transition: 0.2s;
  cursor: pointer;
}

.pet-card:hover {
  transform: scale(1.05);
}

.pet-photo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  border: 3px solid var(--mivet-primary);
}
